before_build:
 - nuget restore GoogleAnalyticsServiceForDotNet.sln
 - choco install opencover.portable
 - choco install codecov

test_script:
 - cmd: OpenCover.Console.exe -register:user -target:"C:/Program Files/dotnet/dotnet.exe" -targetargs:"test --test-adapter-path:. --logger:Appveyor" -filter:"+[GoogleAnalyticsServiceForDotNet*]* -[GoogleAnalyticsServiceForDotNet.Tests*]*" -output:".\coverage.xml" -oldstyle

after_test:
  - ps: |
      codecov -f "coverage.xml"